* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

/*ecran desktop*/

@media screen and (min-width: 1024px) {

    /*barrre de navigation - header*/

    .nav {
        width: 100%;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    ul.menu {
        display: flex;
        align-items: center;
    }

    ul.menu li {
        list-style: none;
        margin: 1em;
        text-align: center;
    }

    ul.menu a {
        text-decoration: none;
        color: white;
        font-size: 1.3em;
        font-weight: bold;
    }

    ul.menu a:hover {
        text-decoration: underline;
    }

    ul.menu #cnx:hover {
        text-decoration: underline;
    }
    
    h1, #cnx {
        color: #50A15D;
    }
    
    h1 {
        margin: 0.8em;
        font-size: 2.2em;
        font-family: "shantell sans", sans-serif; 
    }
    
    #cnx {
        margin: 0.8em;
    }

    label, #bascule {
        display: none;
    }

    /*habitat-animaux*/

    h2 {
        margin-bottom: 1em;
        font-size: 1.8em;
        color: #7B4E24;
        font-family: "shantell sans", sans-serif;
        margin-top: 5em;
        text-align: center;
    }

    #habitat {
        display: flex;
        justify-content: center;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .habitat {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 3em;
        margin-right: 3em;
        text-align: center;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
    }

    .habitat a {
        text-decoration: none;
        color: #7B4E24;
    }

    .habitat p {
        margin: 1.5em;
        font-size: 16px;
    }

    .habitat h3 {
        margin-top: 1em;
        font-size: 1.4em;
        font-family: "shantell sans", sans-serif;
    }

    .habitat img {
        width: 300px;
        height: 200px;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    .fond_footer {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2.5em;
        font-size: 15px;
        color: white;
        margin-top: 2em;
    }

    .fond_cnt {
        display: flex;
        justify-content: space-around;
    }

    .tdr {
        margin-top: 2em;
        text-align: center;
    }

    .contact p, .nous_trouver p {
        padding: 0.2em;
    }

    #animal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .animal {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
        color: #7B4E24;
    }

    .animal img {
        width: 300px;
        height: auto;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em; 
    }

    .animal h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.4em;
        font-family: "shantell sans", sans-serif;
        text-align: center;
    }

    .animal p {
        text-align: center;
        font-size: 16px;
        margin: 1.5em;
        font-family: "shantell sans", sans-serif;
    }

    .animal ul li {
        margin-left: 2.5em;
        margin-bottom: 1em;
        font-size: 16px;
    }
}

/*ecran tablette*/

@media screen and (min-width: 820px) and (max-width: 1024px) {

    /*barrre de navigation - header*/

    .nav {
        width: 100%;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    ul.menu {
        display: flex;
        align-items: center;
    }

    ul.menu li {
        list-style: none;
        margin: 1em;
        text-align: center;
    }

    ul.menu a {
        text-decoration: none;
        color: white;
        font-size: 0.9em;
        font-weight: bold;
    }

    ul.menu a:hover {
        text-decoration: underline;
    }

    ul.menu #cnx:hover {
        text-decoration: underline;
    }
    
    h1, #cnx {
        color: #50A15D;
    }
    
    h1 {
        margin: 0.8em;
        font-size: 1.6em;
        font-family: "shantell sans", sans-serif; 
    }
    
    #cnx {
        margin: 0.8em;
    }

    label, #bascule {
        display: none;
    }

    /*habitat-animaux*/

    h2 {
        margin-bottom: 1em;
        font-size: 1.4em;
        color: #7B4E24;
        font-family: "shantell sans", sans-serif;
        margin-top: 5em;
        text-align: center;
    }

    #habitat {
        display: flex;
        justify-content: center;
        margin-top: 3.5em;
        margin-bottom: 3.5em;
    }

    .habitat {
        display: flex;
        flex-direction: column;
        width: 280px;
        margin-left: 3em;
        margin-right: 3em;
        text-align: center;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
    }

    .habitat a {
        text-decoration: none;
        color: #7B4E24;
    }

    .habitat p {
        margin: 1.5em;
        font-size: 15px;
    }

    .habitat h3 {
        margin-top: 1em;
        font-size: 1.2em;
        font-family: "shantell sans", sans-serif;
    }

    .habitat img {
        width: 280px;
        height: 200px;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    .fond_footer {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2em;
        font-size: 15px;
        color: white;
        margin-top: 2em;
    }

    .fond_cnt {
        display: flex;
        justify-content: space-around;
    }

    .tdr {
        margin-top: 2em;
        text-align: center;
    }

    .contact p, .nous_trouver p {
        padding: 0.2em;
    }

    #animal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 3.5em;
        margin-bottom: 3.5em;
    }

    .animal {
        display: flex;
        flex-direction: column;
        width: 240px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
        color: #7B4E24;
    }

    .animal img {
        width: 240px;
        height: auto;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em; 
    }

    .animal h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.2em;
        font-family: "shantell sans", sans-serif;
        text-align: center;
    }

    .animal p {
        text-align: center;
        font-size: 15px;
        margin: 1.5em;
        font-family: "shantell sans", sans-serif;
    }

    .animal ul li {
        margin-left: 2.5em;
        margin-bottom: 1em;
        font-size: 15px;
    }
}

/*ecran smartphone*/

@media screen and (min-width: 460px) and (max-width: 820px) {

    /*barrre de navigation - header*/

    .nav {
        width: 100%;
        position: fixed;
        top: 0px;
        display: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    ul.menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    ul.menu li {
        list-style: none;
        margin: 0.6em;
        text-align: center;
    }

    ul.menu a {
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
    }

    ul.menu a:hover {
        text-decoration: underline;
    }

    ul.menu #cnx:hover {
        text-decoration: underline;
    }
    
    h1, #cnx {
        color: #50A15D;
    }
    
    h1 {
        margin-top: 0.5em;
        font-size: 1.6em;
        text-align: center;
        font-family: "shantell sans", sans-serif; 
    }

    label, #bascule {
        display: none;
    }

    /*habitat-animaux*/

    h2 {
        margin-bottom: 1em;
        font-size: 1.4em;
        color: #7B4E24;
        font-family: "shantell sans", sans-serif;
        margin-top: 5em;
        text-align: center;
    }

    #habitat {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .habitat {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 1em;
        text-align: center;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
    }

    .habitat a {
        text-decoration: none;
        color: #7B4E24;
    }

    .habitat p {
        margin: 1.5em;
        font-size: 15px;
    }

    .habitat h3 {
        margin-top: 1em;
        font-size: 1.2em;
        font-family: "shantell sans", sans-serif;
    }

    .habitat img {
        width: 300px;
        height: 200px;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    .fond_footer {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2em;
        font-size: 14px;
        color: white;
        margin-top: 2em;
    }

    .fond_cnt {
        display: flex;
        justify-content: space-around;
    }

    .tdr {
        margin-top: 2em;
        text-align: center;
    }

    .contact p, .nous_trouver p {
        padding: 0.2em;
    }

    #animal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .animal {
        display: flex;
        flex-direction: column;
        width: 210px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
        color: #7B4E24;
    }

    .animal img {
        width: 210px;
        height: auto;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em; 
    }

    .animal h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.2em;
        font-family: "shantell sans", sans-serif;
        text-align: center;
    }

    .animal p {
        text-align: center;
        font-size: 15px;
        margin: 1.5em;
        font-family: "shantell sans", sans-serif;
    }

    .animal ul li {
        margin-left: 2.5em;
        margin-bottom: 1em;
        font-size: 15px;
    }
}

/*ecran smartphone 2*/

@media screen and (max-width: 460px) {

    /*barrre de navigation - header*/

    .nav {
        width: 100%;
        position: fixed;
        top: 0px;
        display: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    label {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        justify-content: center;
        padding-bottom: 0.6em;
        padding-top: 0.2em;
    }

    #bascule + .menu{
        display: none;
    }

    #bascule:checked + .menu {
        display: block;
    }

    label:hover {
        text-decoration: underline;
    }

    #bascule {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    ul.menu {
        align-items: center;
        justify-content: space-around;
    }

    ul.menu li {
        list-style: none;
        margin: 1em;
        text-align: center;
    }

    ul.menu a {
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
    }

    ul.menu a:hover {
        text-decoration: underline;
    }

    ul.menu #cnx:hover {
        text-decoration: underline;
    }
    
    h1, #cnx {
        color: #50A15D;
    }
    
    h1 {
        font-weight: bold;
        font-size: 1.6em;
        text-align: center;
        padding-top: 0.2em;
        font-family: "shantell sans", sans-serif; 
    }

    #bascule {
        display: none;
    }

    /*habitat-animaux*/

    h2 {
        font-size: 1.2em;
        color: #7B4E24;
        font-family: "shantell sans", sans-serif;
        margin-top: 5em;
        text-align: center;
    }

    #habitat {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .habitat {
        display: flex;
        flex-direction: column;
        width: 220px;
        margin: 1em;
        text-align: center;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
    }

    .habitat a {
        text-decoration: none;
        color: #7B4E24;
    }

    .habitat p {
        margin: 1.5em;
        font-size: 14px;
    }

    .habitat h3 {
        margin-top: 1em;
        font-size: 1em;
        font-family: "shantell sans", sans-serif;
    }

    .habitat img {
        width: 220px;
        height: 200px;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    .fond_footer {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2.5em;
        font-size: 12px;
        color: white;
    }

    .fond_cnt {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tdr {
        margin-top: 2em;
        text-align: center;
    }

    .contact p, .nous_trouver p {
        padding: 0.2em;
    }

    #animal {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .animal {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #E9E3AF;
        border-radius: 2em;
        box-shadow: 0px 10px 10px grey;
        color: #7B4E24;
    }

    .animal img {
        width: 200px;
        height: auto;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em; 
    }

    .animal h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.2em;
        font-family: "shantell sans", sans-serif;
        text-align: center;
    }

    .animal p {
        text-align: center;
        font-size: 14px;
        margin: 1.5em;
        font-family: "shantell sans", sans-serif;
    }

    .animal ul li {
        margin-left: 2.5em;
        margin-bottom: 1em;
        font-size: 14px;
    }
}